html {
  font-size: 18px;
  line-height: 1.4;
}

body {


}

.header-container {
   display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Header */
header {
  background-color: cadetblue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Helvectica", sans-serif;
  position: fixed;
  z-index: 5;
  width: 960px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
}

.title img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top:  1rem;
  padding-bottom: 1rem;
}

nav li {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Jumbotron */
.jumbotron {
  background: url("../images/glasses-bg.png") no-repeat center center;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

height: 30rem;
width: 100%;
display: flex;
justify-content: center;
}

.jumbotron > .container {
  display: flex;
  justify-content: flex-end;
  width: 960px;
  margin-left: 2rem;
}

.announcement h1 {
  text-transform: uppercase;
  background-color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  /* To account for 3rem fixed header +10rem space in spec */
  margin-top: 13rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Main body */
section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pictures {
  width: 960px;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.picture-item {
  width: 5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  margin-left: 3rem;
  margin-right: 3rem;
}

.picture-item img {
  width: 3.5rem;

}

.picture-item p {
  text-align: center;
}
